.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.hero-content {
  max-width: 850px;
}

.intro-text {
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
}

.name-heading {
  font-size: clamp(40px, 8vw, 70px);
  font-weight: 700;
  line-height: 1.1;
  color: var(--light-slate);
  margin-bottom: 50px;
  margin-top: 10px;
}

.tagline-heading {
  font-size: clamp(40px, 8vw, 60px);
  color: var(--slate);
  line-height: 1.1;
  margin-top: 10px;
  text-shadow: none;
}

.description {
  margin-top: 25px;
  max-width: 600px;
  font-size: 1.1rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: inline-block;
  margin-top: 50px;
  padding: 1.25rem 1.75rem;
  font-size: 1rem;
  font-family: var(--font-mono);
  color: var(--light-slate);
  border: 2px solid var(--light-slate);
  border-radius: 4px;
  transition: var(--transition);
  font-weight: bold;
}

.hero-button:hover {
  background-color: var(--light-slate);
  color: var(--primary-color);
  transform: translateY(-3px);
}